<!-- component -->
<!DOCTYPE html>
<html>
  <body class="bg-white">
    <div class="container flex flex-col mx-auto bg-white">
      <div
        class="relative flex flex-wrap items-center justify-between w-full bg-white group py-7 shrink-0 mb-3"
      >
        <div>
          <img
            class="h-8"
            src="https://raw.githubusercontent.com/Loopple/loopple-public-assets/main/motion-tailwind/img/logos/logo-nav-0.png"
          />
        </div>
        <div
          class="items-center justify-between hidden gap-12 text-black md:flex font-bold" 
        >
          <a
            class="text-sm font-normal text-dark-grey-700 hover:text-dark-grey-900"
            href="products"
            >Product</a
          >
          <a
            href="dashboard"
            class="text-sm font-normal text-dark-grey-700 hover:text-dark-grey-900"
            href="dashboard"
            >Dashboard</a
          >
          <a
            class="text-sm font-normal text-dark-grey-700 hover:text-dark-grey-900"
            href="categories"
            >Categories</a
          >
          <a
            class="text-sm font-normal text-dark-grey-700 hover:text-dark-grey-900"
            href="about"
            >About us</a
          >
          <a
            class="text-sm font-normal text-dark-grey-700 hover:text-dark-grey-900"
            href="contact"
            >Contact</a
          >
        </div>
        <div class="items-center hidden gap-8 md:flex">
          <button
            class="flex items-center text-sm font-normal text-gray-800 hover:text-gray-900 transition duration-300"
          >
            Log In
          </button>
          <button
            class="flex items-center px-4 py-2 text-sm font-bold rounded-xl bg-gray-800 text-white hover:bg-gray-700 transition duration-300"
          >
            Sign Up
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
