<app-header></app-header>
<section class="flex justify-evenly mt-8">
  <div class="grid sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-3 gap-2">
    @for (product of productService.products; track $index) {
    <mat-card>
      <mat-card-header class="flex flex-row justify-between">
        <div
          mat-card-avatar
          class="product-avatar"
          routerLink="{{ product.id }}"
        ></div>
        <mat-card-title>{{ product.name }}</mat-card-title>
        <mat-card-subtitle>💵{{ product.price }}</mat-card-subtitle>
        <a
          class="text-black rounded-full py-2 font-medium"
          (click)="loadProductForEdit(product)"
        >
          <img src="/edit_icon.svg" class="" alt="edit icon" />
        </a>
      </mat-card-header>
      <img
        mat-card-image
        [src]="getSafeImageUrl(product.image)"
        alt="Image Product"
        class="mx-auto w-100 h-60"
        (error)="handleImageError($event)"
      />
      <mat-card-content>
        <p>
          {{ product.description }}
        </p>
      </mat-card-content>
      <mat-card-actions class="flex justify-between">
        <button
          class="flex flex-row justify-evenly bg-gray-700 text-white rounded-full px-4 py-2 font-medium"
          (click)="addItemToCart(product)"
        >
          <img
            src="/shopping-cart_icon.svg"
            class="size-5 mr-2"
            alt="cart icon"
          />
          Add Cart
        </button>

        <button
          class="flex flex-row justify-evenly bg-red-500 text-white rounded-full px-4 py-2 font-medium"
          (click)="deleteProduct(product.id!)"
        >
          <img src="/delete_icon.svg" class="size-5 mr-2" alt="cart icon" />
          Delete Product
        </button>
      </mat-card-actions>
    </mat-card>
    }
  </div>

  <app-product-form
    [productToEdit]="selectedProduct"
    *ngIf="selectedProduct"
  ></app-product-form>
</section>
