<app-header></app-header>
<div class="mt-8 py-16 bg-white">
  <div class="container m-auto px-6 text-gray-600 md:px-12 xl:px-6">
    <div
      class="space-y-6 md:space-y-0 md:flex md:gap-6 lg:items-center lg:gap-12"
    >
      <div class="md:5/12 lg:w-5/12 rounded-md overflow-hidden">
        <img
          src="./images5.jpeg"
          alt="image"
          loading="lazy"
          width=""
          height=""
        />
      </div>
      <div class="md:7/12 lg:w-6/12">
        <h2 class="text-2xl text-gray-900 font-bold md:text-4xl">
          We are a team passionate about ecommerce and digital innovation
        </h2>
        <p class="mt-6 text-gray-600">
          In our online store, we believe that buying should be an experience
          simple, safe and satisfactory. So we work every day to offer you the
          best products, personalized attention and a service fast and reliable.
        </p>
        <p class="mt-4 text-gray-600">
          Our team is made up of professionals with extensive experience in
          technology, logistics and customer service. We strive for stay ahead,
          incorporating new trends and tools so you always find what you are
          looking for.
        </p>
        <p class="mt-4 text-gray-600">
          Thanks for trusting us. Your satisfaction is our greatest reward.
        </p>
      </div>
    </div>
  </div>
</div>
