<!-- password-reset-modal.component.html -->
<div
  class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50"
>
  <div
    class="max-w-lg mx-auto bg-white p-8 rounded-xl shadow shadow-slate-300 w-full"
  >
    <div class="flex justify-between items-center">
      <h1 class="text-4xl font-medium">Reset password</h1>
      <button (click)="onClose()" class="text-gray-500 hover:text-gray-700">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M6 18L18 6M6 6l12 12"
          />
        </svg>
      </button>
    </div>
    <p class="text-slate-500">Fill up the form to reset the password</p>

    <form [formGroup]="resetPasswordForm" class="my-10">
      <div class="flex flex-col space-y-5">
        <label for="resetEmail">
          <p class="font-medium text-slate-700 pb-2">Password</p>
          <input
            id="resetEmail"
            name="password"
            type="password"
            formControlName="password"
            class="w-full py-3 border border-slate-200 rounded-lg px-3 focus:outline-none focus:border-slate-500 hover:shadow"
            placeholder="Password"
            required
          />
          <div
            *ngIf="password.invalid && (password.dirty || password.touched)"
            class="text-red-500 text-sm mt-1"
          >
            <div *ngIf="password.errors?.['required']">
              password is required
            </div>
            <div *ngIf="password.errors?.['email']">
              Please enter a valid password
            </div>
          </div>
        </label>
        <label for="resetEmail">
          <p class="font-medium text-slate-700 pb-2">Confirm Password</p>
          <input
            id="resetEmail"
            name="password"
            type="password"
            formControlName="password"
            class="w-full py-3 border border-slate-200 rounded-lg px-3 focus:outline-none focus:border-slate-500 hover:shadow"
            placeholder="Confirm Password"
            required
          />
          <div
            *ngIf="password.invalid && (password.dirty || password.touched)"
            class="text-red-500 text-sm mt-1"
          >
            <div *ngIf="password.errors?.['required']">
              password is required
            </div>
            <div *ngIf="password.errors?.['email']">
              Please enter a valid password
            </div>
          </div>
        </label>

        <button
          type="submit"
          class="w-full py-3 font-medium text-white bg-gray-800 hover:bg-gray-500 rounded-lg border-gray-500 hover:shadow inline-flex space-x-2 items-center justify-center"
          (click)="onSubmit()"
          [disabled]="isLoading || resetPasswordForm.invalid"
        >
          <svg
            *ngIf="!isLoading"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M15.75 5.25a3 3 0 013 3m3 0a6 6 0 01-7.029 5.912c-.563-.097-1.159.026-1.563.43L10.5 17.25H8.25v2.25H6v2.25H2.25v-2.818c0-.597.237-1.17.659-1.591l6.499-6.499c.404-.404.527-1 .43-1.563A6 6 0 1121.75 8.25z"
            />
          </svg>
          <span *ngIf="!isLoading">Reset password</span>
          <span *ngIf="isLoading">Sending...</span>
        </button>

      </div>
    </form>
  </div>
</div>
