<div class="max-w-xl mx-auto">
  <form [formGroup]="productForm">
    <fieldset>
      <label for="product-name">Product Name:</label>
      <input
        type="text"
        id="product-name"
        placeholder="Product Name"
        class="bg-gray-200 p-3 rounded-lg block w-full mb-3"
        formControlName="name"
      />
      @if(name.invalid && name.touched){
      <p class="text-red-500 font-bold">Name is required</p>
      }
    </fieldset>
    <fieldset>
      <label for="product-description">Product Description:</label>
      <textarea
        name="product-description"
        placeholder="Product Description"
        class="bg-gray-200 p-3 rounded-lg block w-full mb-3"
        formControlName="description"
      ></textarea>
      @if(description.invalid && description.touched){
      <p class="text-red-500 font-bold">Description is required</p>
      }
    </fieldset>
    <fieldset>
      <label for="product-price">Product Price:</label>
      <input
        type="number"
        id="product-price"
        placeholder="Product Price"
        class="bg-gray-200 p-3 rounded-lg block w-full mb-3"
        formControlName="price"
      />
      @if(price.invalid && price.touched){
      <p class="text-red-500 font-bold">Price is required</p>
      }
    </fieldset>
    <fieldset>
      <label for="product-image">Product Image:</label>
      <input
        type="file"
        id="product-image"
        placeholder="Image Product"
        class="bg-gray-200 p-3 rounded-lg block w-full mb-3"
        (change)="onFileChanges($event)"
        accept="image/*"
      />
    </fieldset>
    <button
      class="bg-gray-700 text-white rounded-full px-4 py-2 font-medium"
      (click)="createProduct()"
      *ngIf="!currentProductId"
    >
      Add Product
    </button>
    <button
      class="bg-gray-700 text-white rounded-full px-4 py-2 font-medium"
      (click)="updateProduct()"
      *ngIf="currentProductId"
    >
      Update Product
    </button>
    <button
      class="bg-red-500 text-white rounded-full px-4 py-2 font-medium ml-2"
      (click)="resetForm()"
      *ngIf="currentProductId"
    >
      Cancel
    </button>
  </form>
</div>
